TEST_ENV=online
BASE_URL=https://yunjingzhi.com/yunjingservice/user/txform.shtml
BROWSER=chromium
HEADLESS=false
RECORD_VIDEO=false
DEFAULT_TIMEOUT=30000
NAVIGATION_TIMEOUT=60000
LOG_LEVEL=INFO
MOBILE_USERNAME=11621
MOBILE_PASSWORD=yjz2020at
